@model Serwis_Muzyczny.Models.album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataWydania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataWydania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artysta.pseudonim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artysta.pseudonim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gatunek.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gatunek.nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
