@model IEnumerable<Serwis_Muzyczny.Models.uzytkownik>

@{
    ViewBag.Title = "Użytkownicy";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj nowego", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kraj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataUrodzenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.miejscowosc)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.rodzajMiejscowosci)*@
            Rodzaj
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PozostalaIlosc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kraj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataUrodzenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.miejscowosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rodzajMiejscowosci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PozostalaIlosc)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.uzytkownikId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.uzytkownikId }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.uzytkownikId }) |
            @Html.ActionLink("Zakupy", "PlansHistory", new { id = item.uzytkownikId })
            @Html.ActionLink("Zakupy 30 dni", "Last30day", new { id = item.uzytkownikId })
        </td>
    </tr>
}

</table>
