@model Serwis_Muzyczny.Models.wykonanie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>wykonanie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.artysta.pseudonim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artysta.pseudonim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.utwor.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.utwor.nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.wykonanieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
