@model IEnumerable<Serwis_Muzyczny.Models.planUzytkownik>

@{
    ViewBag.Title = "Plany użytkowników";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create") |
    @Html.ActionLink("Obroty", "Statistic") |
    @Html.ActionLink("Statystyka sprzedaży", "MostPopularPlans") |
    @Html.ActionLink("Najlepsi klienci", "BestCustomers") |
    @Html.ActionLink("Najpopularniejsze plany", "bestPlans")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dataKupnaPakietu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plany.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plany.cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rabat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uzytkownik.uzytkownikId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uzytkownik.imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uzytkownik.nazwisko)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dataKupnaPakietu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plany.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plany.cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rabat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uzytkownik.uzytkownikId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uzytkownik.imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uzytkownik.nazwisko)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.planUzytkownikid }) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.planUzytkownikid }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.planUzytkownikid })
        </td>
    </tr>
}

</table>
