@model IEnumerable<Serwis_Muzyczny.Models.pobierzObrotyZaOkres_Result>

@{
    ViewBag.Title = "Statystyki za wybrany okres.";
    Serwis_Muzyczny.Models.czas czas = new Serwis_Muzyczny.Models.czas();
}

<h2>Statistic</h2>
@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()


<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Od</label>
        <div class="col-md-10">
            @Html.EditorFor(model => czas.from, new { htmlAttributes = new { @type = "date", @Value = @DateTime.Now.AddDays(-30).ToString("yyyy-MM-dd"), @class = "form-control", @style = "padding:0px 10px;" } })
            @Html.ValidationMessageFor(model => czas.from, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Do</label>
        <div class="col-md-10">
            @Html.EditorFor(model => czas.to, new { htmlAttributes = new { @type = "date", @Value = @DateTime.Now.ToString("yyyy-MM-dd"), @class = "form-control", @style = "padding:0px 10px;" } })
            @Html.ValidationMessageFor(model => czas.to, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pokaż" class="btn btn-default" />
        </div>
    </div>
</div>
}

<table class="table">

    <tr>
        <td>
            Id planu
        </td>
        <td>
            Nazwa planu
        </td>
        <td>
            Suma
        </td>
        <td>
            Sztuk
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="align-content:center">
                @Html.DisplayFor(modelItem => item.planId)
            </td>

            <td style="align-content:center">
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>

            <td style="align-content:center">
                @Html.DisplayFor(modelItem => item.Suma)
            </td>

            <td style="align-content:center">
                @Html.DisplayFor(modelItem => item.Sprzedanych_sztuk)
            </td>
        </tr>

    }


</table>